* {
    /* font-family: 'Nerko One', cursive; */
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #dd3077; */
    background: #f093fb;
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
}

.box {
    background-color: #fff;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 40px;
}