*{
    /* font-family: 'Nerko One', cursive; */
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 255, 255, 0.234);
}
h1{
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
}
.box{
    background-color: aliceblue;
    border: 2px solid black;
}